# docker run -d -it -v /path/on/host:/data -e EULA=TRUE -p 25565:25565 --name mc itzg/minecraft-server
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minecraft-server
  labels:
    app: minecraft-server
spec:
  replicas: 3
  selector:
    matchLabels:
      app: minecraft-server
  template:
    metadata:
      labels:
        app: minecraft-server
    spec:
      volumes:
      - name: minecraft-server-pv
        persistentVolumeClaim:
          claimName: minecraft-server-nfs-pvc
      containers:
      - name: minecraft-server
        image: itzg/minecraft-server:latest
        resources:
          limits:
            memory: 2Gi
          requests:
            memory: 1.5Gi
        env:
          - name:  EULA
            value: 'TRUE'
          - name: MODE
            value: creative
          - name: MOTD
            value: My super-cool minecraft server in k3s
          - name: ALLOW_FLIGHT
            value: 'TRUE'
          - name: OPS
            value: 'Der_Bengel'
          - name: TYPE
            value: PAPER
        ports:
        - containerPort: 25565
          name: minecraft
        volumeMounts:
        - mountPath: "/data"
          name: minecraft-server-pv
        readinessProbe:
          exec:
            command:
            - mcstatus
            - 127.0.0.1
            - ping
          initialDelaySeconds: 30
          periodSeconds: 30
        livenessProbe:
          exec:
            command:
            - mcstatus
            - 127.0.0.1
            - ping
          initialDelaySeconds: 30
          periodSeconds: 30
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: minecraft-server-nfs-pv
spec:
  capacity:
    storage: 5Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Recycle
  storageClassName: nfs
  mountOptions:
    - hard
    - nfsvers=4.1
  nfs:
    path: /tank/Sonstiges/Docker/minecraft
    server: 192.168.178.10
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minecraft-server-nfs-pvc
spec:
  storageClassName: nfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
